.flex-center-3{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  .width-set{
    min-width: 450px;
    max-width: 600px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10px;
    // height: 85vh;
  }
  .flex-row-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    // background-color: white;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
  }
  .flex-row-start-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .flex-col-around{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start;
  }
  .message-col{
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    width: 500px;
    max-height: 73vh;
    min-height: 73vh;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url('https://res.cloudinary.com/dk0r9bcxy/image/upload/v1631561665/project-4/bg_dqhuyo.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border-bottom: 1px solid rgb(218, 218, 218);
    border-top: 1px solid rgb(218, 218, 218);
  }
  .message-profile-image{
    height: 45px;
    width: 45px;
    min-width: 45px;
    border-radius: 50%;
  }
  .flex-row-full{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .border-rounded{
    border-radius: 20px;  
  }
  .display-inline-block{
    display: inline-block;
    width: 100%;
  }
  .message-text{
    border-radius: 10px;
    max-width: 300px;
    min-width: 150px;
    margin: 10px 0;
    padding: 5px;
    background-color: white;
  }
  .width-200{
    max-width: 36em !important; 
    max-width: 90ch !important;
    overflow-wrap: break-word !important;
  }
  .flex-row-end{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  .ml-2-img{
    margin-left: 8px;
  }
  .px-2-mx-2{
    margin: 8px 0;
  }
  a.no-text-decoration.b-1.b-2{
    text-decoration: none;
    color: rgb(46, 46, 46);
    border-bottom: 0;
  }
  p.no-text-decoration.b-1.b-2, h6.no-text-decoration.b-1.b-2{
    text-decoration: none;
    color: rgb(46, 46, 46);
    border-bottom: 0;
  }
  p.no-text-decoration.b-1.b-2{
    color: rgb(46, 46, 46);
  }
  .notParent{
    position: relative;
  }
  .smaller{
    float: right;
  }
  .inline-b{
    display: inline-block;
  }
  .smaller.rel{
    float: right;
    position: relative;
  }
  .smaller.rel.childOne{
    right: 10px;
    top: 4px;
    font-size: 12px;
    color: rgb(238, 78, 78);
  }
  .smaller.rel:hover{
    cursor: pointer;
  }
  .smaller.rel.childOne:hover{
    cursor: pointer;
  }
  .no-show{
    display: none;
  }
  .flex-row-start-3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 81vh;
    .flex-row-4{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .message-profile-image-large{
    height: 65px;
    width: 65px;
    min-width: 65px;
    border-radius: 50%;
  }
  .extra-small{
    font-size: 11px;
  }
  .grey-font-color{
    color: #c4c3c3;
  }
}
.font-dark{
  color:rgb(46, 46, 46);
}
.font-dark:hover{
  color:rgb(46, 46, 46);
}

@media only screen and (max-width: 800px) {
  div.flex-row-start-3.remove-from-view{
    display: none;
  }
}