div.flex-col-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.form-control.profile-input {
  border-radius: 25px;
}

.pop-out:hover{
  transform: scale(1.05);
  border-radius: 50%;
  background-color: rgb(244, 242, 242);
}

.bt-1{
  border-top: 2px solid rgb(227, 227, 227);
}

flex-row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bordertop{
  border-top: 2px solid rgb(227, 227, 227);
}

.cursor-pointer:hover{
  cursor: pointer;
}

.normal-text{
  text-decoration: none;
  color: black;
}

.normal-text:hover{
  color: black;
}

div.flex-row-start.b1{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.no-decoration{
  text-decoration: none;
}

.hidden{
  display: none;
}

.upload-btn{
  color: #0d6efd;
  // border: 1px solid black;
  // border-radius: 3px;
  // padding: 2px 4px;
}

.upload-btn:hover{
  cursor: pointer;
}

.scroll-height-edit{
  overflow-y: scroll;
  height: 370px;
}

.profile-saved-added {
  display: flex;
  justify-content: center;
}


.profile-container {
  // margin-top: 100px;
  .follow-circle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 2px 15px 2px;
  }

  div.flex{
    display: flex;
  }
}